.breadcrumb {
    background-color: transparent !important;
    padding: .75rem 0rem !important;
}

.breadcrumb-item a {
    text-decoration: none !important;
    color: #454d59;
    font-family: 'Open Sans';
}

.thecategory {
    text-decoration: none !important;
    color: white !important;
    background-color: #d61543;
    padding: 12px;
    margin-right: 16px;
    font-family: 'SVN-AgencyFB';
}

.title-h1-news,
.title-h1-transfer,
.title-h1-analysis {
    font-family: 'SVN-AgencyFB';
    width: 100%;
    margin-top: 35px;
    font-size: 40px;
    font-weight: 700;
    color: #454d59;
    margin-bottom: 33px;
}

.featured-thumbnail img {
    border-top: 3px solid rgb(214, 21, 67);
    margin-bottom: 10px;
}

.post-content-news h3,
.post-content-transfer h3,
.post-content-analysis h3 {
    color: #454d59;
    font-family: 'SVN-AgencyFB';
    font-weight: 700;
}

.post-content-news p,
.post-content-transfer p,
.post-content-analysis p {
    margin-bottom: 20px;
    color: #454d59;
    font-family: 'Open Sans';
    font-size: 16px;
}

.news-proposal {
    margin-top: 60px;
    margin-bottom: 50px;
}

.img-news-proposal {
    list-style: none;
}

.news-proposal .img-news-proposal {
    display: inline-block;
}

.post-data-proposal a {
    font-family: 'SVN-AgencyFB';
    font-size: 24px;
    text-decoration: none;
    color: #454d59;
}

.post-data-proposal a:hover {
    color: #d61543;
    transition: all 0.25s linear;
}


/*page news*/

.content-categories-box li {
    list-style: none;
    margin-left: -38px;
    margin-top: 35px;
}

.pagination-news {
    display: inline-block;
    margin-left: 167px;
    margin-top: 18px;
    margin-bottom: 42px;
}

.pagination-news a {
    color: #454d59;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-family: 'SVN-AgencyFBbold';
}

.pagination-news a.active {
    background-color: #d61543;
    color: white;
}

.pagination-news a:hover:not(.active) {
    background-color: #d61543;
    color: white;
}